
<div class="container text-center py-2">
    <h4 class="mb-3" style="color:#5C4E3B; font-size:50px; text-align:center;">Meet the Team</h4>

    <div class="d-flex gap-2 flex-row">
        <div class="card " style="width: 20rem;">
       
            <div class="card-image-container">
                <img class="card-img-top same-size" src="/img/jemss.jpg" alt="Jems">
            </div>
            <div class="card-body">
                <h4 class="card-title">Anton James Genabio</h4>
            </div>
        </div>
        <div class="card " style="width: 20rem;">
     
            <div class="card-image-container">
                <img class="card-img-top same-size" src="/img/jude.jpg" alt="Jude">
            </div>
            <div class="card-body">
                <h4 class="card-title">Jude Jefferson Sandalo</h4>
            </div>
        </div>
        <div class="card " style="width: 20rem;">
         
            <div class="card-image-container">
                <img class="card-img-top same-size" src="/img/gene1.jpg" alt="Gene">
            </div>
            <div class="card-body">
                <h4 class="card-title">Generoso Gastardo Jr.</h4>
            </div>
        </div>
        <div class="card " style="width: 20rem;">
        
            <div class="card-image-container">
                <img class="card-img-top same-size" src="/img/f.jpg" alt="Cabriana">
            </div>
            <div class="card-body">
                <h4 class="card-title">Fregielyn Cabriana</h4>
            </div>
        </div>
        <div class="card " style="width: 20rem;">
     
            <div class="card-image-container">
                <img class="card-img-top same-size" src="/img/dione.jpg" alt="Dione">
            </div>
            <div class="card-body">
                <h4 class="card-title">Dione Louis Nipaya</h4>
            </div>
        </div>




    </div>
</div>

