@{
    ViewData["Title"] = "Home Page";
    ViewBag.Title = "Map";
}



<div class="container">
    <div class="row text-center">
            <div class="col-md-4 mb-4">
                <div class="card" style="max-height:25rem;max-width:17rem">
                    <h5 class="card-header text-white" style="background-color:#5C4E3B">Minor Basilica Sto. Nino</h5>
                    <div class="card-body">
                        <img class="card-img" style="width: 100%; height: 10rem; object-fit: cover;" src="/images/basilica.jpg" />
                        
                    </div>
                    <div class="card-footer d-flex flex-row">
                    <button type="button" data-details="Oldest Church in Cebu City" data-location="Cebu City" data_name="Minor Basilica Sto. Nino"
                            data-image="/images/basilica.jpg" class="btn btn-outline-primary form-control city-btn" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">View</button>
                    </div>
                </div>
            </div>


        <div class="col-md-4 mb-4">
            <div class="card" style="max-height:25rem;max-width:17rem">
                <h5 class="card-header text-white" style="background-color:#5C4E3B">Magellan Cross</h5>
                <div class="card-body">
                    <img class="card-img" style="width: 100%; height: 10rem; object-fit: cover;" src="/images/magellan.jpg" />

                </div>
                <div class="card-footer d-flex flex-row">
                    <button type="button" data-details="Magellan Cross in Cebu City" data-location="Cebu City" data_name="Magellan Cross"
                            data-image="/images/magellan.jpg" class="btn btn-outline-primary form-control city-btn" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                        View
                    </button>
                </div>
            </div>
        </div>


        <div class="col-md-4 mb-4">
            <div class="card" style="max-height:25rem;max-width:17rem">
                <h5 class="card-header text-white" style="background-color:#5C4E3B">Ayala Center Cebu</h5>
                <div class="card-body">
                    <img class="card-img" style="width: 100%; height: 10rem; object-fit: cover;" src="/images/ayala.jpg" />

                </div>
                <div class="card-footer d-flex flex-row">
                    <button type="button" data-details="One of the best places to rest and enjoy in Cebu City" 
                            data-location="Cebu City" 
                            data_name="Ayala Center Cebu"
                            data-image="/images/ayala.jpg"
                            class="btn btn-outline-primary form-control city-btn" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                        View
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="max-height:25rem;max-width:17rem">
                <h5 class="card-header text-white" style="background-color:#5C4E3B">Fort San Pedro Cebu</h5>
                <div class="card-body">
                    <img class="card-img" style="width: 100%; height: 10rem; object-fit: cover;" src="/images/fort.jpg" />

                </div>
                <div class="card-footer d-flex flex-row">
                    <button type="button" data-details="One of the Oldest One of the oldest fort in Cebu City"
                            data-location="Cebu City"
                            data_name="Fort San Pedro Cebu"
                            data-image="/images/fort.jpg"
                            class="btn btn-outline-primary form-control city-btn" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                        View
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="max-height:25rem;max-width:17rem">
                <h5 class="card-header text-white" style="background-color:#5C4E3B">Cebu Taoist Temple</h5>
                <div class="card-body">
                    <img class="card-img" style="width: 100%; height: 10rem; object-fit: cover;" src="/images/taoist.jpg" />

                </div>
                <div class="card-footer d-flex flex-row">
                    <button type="button" data-details="The Taoist Temple in Cebu City is a prominent cultural and religious landmark located in the upscale Beverly Hills subdivision of Cebu. Built in 1972 by Cebu’s Chinese community, the temple is dedicated to the teachings of Laozi, the founder of Taoism."
                            data-location="Cebu City"
                            data_name="Cebu Taoist Temple"
                            data-image="/images/taoist.jpg"
                            class="btn btn-outline-primary form-control city-btn" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                        View
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="max-height:25rem;max-width:17rem">
                <h5 class="card-header text-white" style="background-color:#5C4E3B">Tops in Cebu City</h5>
                <div class="card-body">
                    <img class="card-img" style="width: 100%; height: 10rem; object-fit: cover;" src="/images/tops.jpg" />

                </div>
                <div class="card-footer d-flex flex-row">
                    <button type="button" data-details="One of the best places to rest and enjoy in Cebu City"
                            data-location="Cebu City"
                            data_name="Tops in Cebu City"
                            data-image="/images/tops.jpg"
                            class="btn btn-outline-primary form-control city-btn" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                        View
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="max-height:25rem;max-width:17rem">
                <h5 class="card-header text-white" style="background-color:#5C4E3B">Casa Gorordo Museum in Cebu City</h5>
                <div class="card-body">
                    <img class="card-img" style="width: 100%; height: 10rem; object-fit: cover;" src="/images/casa.jpg" />

                </div>
                <div class="card-footer d-flex flex-row">
                    <button type="button" data-details="Casa Gorordo is a house museum located in the historic Parian area of Cebu, the oldest city in the Philippines."
                            data-location="Cebu City"
                            data_name="Casa Gorordo Museum in Cebu City"
                            data-image="/images/casa.jpg"
                            class="btn btn-outline-primary form-control city-btn" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                        View
                    </button>
                </div>
            </div>
        </div>
        
    </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-3">
                <img class="card-img" id="city_image" style="width: 100%; height: 20rem; object-fit: cover;" src="" />
                <div class="mt-2">
                    <strong>Details: </strong> <p class="text-start" id="data_details"></p>
                    <strong>Location: </strong> <p class="text-start" id="data_location"></p>
 
                </div>
                <div id="map" style="height: 500px; width: 100%;"></div>

            </div>
        </div>
    </div>
</div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwr5rd-9amKfhw9HhNttaQZlHNm8jNyjw"></script>
<script>
    function initMap() {
        var centerCoordinates = new google.maps.LatLng(10.3157, 123.8854); // Cebu City coordinates
        var mapOptions = {
            center: centerCoordinates,
            zoom: 12 // Adjust the zoom level as needed
        };

        var map = new google.maps.Map(document.getElementById("map"), mapOptions);

        var marker = new google.maps.Marker({
            position: centerCoordinates,
            map: map,
            title: "Cebu City"
        });
    }

    // Initialize the map
    google.maps.event.addDomListener(window, 'load', initMap);
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var buttons = document.querySelectorAll('.city-btn');

        buttons.forEach(function (button) {
            button.addEventListener('click', function (event) {
                var data_image = button.getAttribute('data-image');
                var data_details = button.getAttribute('data-details');
                var data_location = button.getAttribute('data-location');
                var data_name = button.getAttribute('data_name');
          

                document.getElementById('data_details').textContent = data_details;
                document.getElementById('data_location').textContent = data_location;
                document.getElementById('exampleModalLabel').textContent = data_name;

        

                var imageContainer = document.getElementById('city_image');
                imageContainer.src = data_image;
            });
        });
    });
</script>
